<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <base href="/" />

    <title style="color:slategrey;">Sugar Creek</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sugar Creek", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div style="        background-color: rgb(115, 232, 255);">
        <div class="container body-content">
            @if (User.Identity.IsAuthenticated)
            {
                <app-root>

                </app-root>
            }
            @RenderBody()
            <hr />
            <!--Waves Container-->
            <div class="wavesBottom">
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(3,140, 140,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(2,115,115,0.7)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(2,58,64,0.7)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#022873" />
                    </g>
                </svg>
            </div>
            <!--Waves end-->
            <footer>
                <p style="color:white;">&copy; @DateTime.Now.Year - My ASP.NET Application "Sugar Creek"</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/AngularJs")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
