<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <base href="/" />
</head>
<body style="background-image:url('../../Images/backgroundAug2021.jpg');background-size:cover;background-repeat: no-repeat;
    position: relative;
    height: 100vh;">

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
           Sugar Creek Golf Course
        </a>
    </nav>

    <div class="container body-content">

@RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

    @Scripts.Render("~/bundles/AngularJs")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
